html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-cover {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f9fc;
}

.navbar {
  border: 1px solid black;
  height: 7vh;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: #31315c;
  position: fixed;
}

.logo {
  /* border: 1px solid red; */
  flex: 1;
  justify-content: start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin-left: 5%;
}

.navbar-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.n-options-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.n-option {
  display: inline-flex;
}

.n-option a {
  color: #7a7ab3;
  text-decoration: none;
  transition: color 1s;
  font-size: 18px;
}

.n-option a:hover {
  color: white;
}

.body-cover {
  /* border: 2px solid green; */
  box-sizing: border-box;
  padding-top: 7vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.body-cover h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a7ab3;
}

.content-block {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap; /* moves overflow content to the next line*/
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
  flex-grow: 1;
  overflow-y: auto;
}

.blog-post {
  width: 20%;
  height: 70%;
  margin: 0 1% 1% 1%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  border-radius: 22px;
  background-color: white;
  box-shadow: 2px 2px 20px #47477f;
}

/* .image-cover {
  flex: 40;
  width: 100%;
  height: 200px;

  border: 3px solid red;
}

.image-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.image-cover {
  width: 100%; /* Fixed width */
  height: 250px; /* Fixed height */
  /* border: 3px solid red; */
  overflow: hidden; /* In case the image is larger than the container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  border-radius: 22px 22px 0 0;
}

.image-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make sure the image covers the entire container */
}

.category {
  width: 100%;
  display: flex;
  align-items: center;
  height: 8%;
  color: #86b9ce;
}

.category p {
  font-weight: 800;
  margin-left: 3%;
  font-size: 18px;
  text-transform: uppercase;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: -5%;
  /* border: 1px solid black; */
}

.title p {
  font-size: 27px;
  margin-left: 3%;
  font-weight: bold;
  color: #31315c;
  text-transform: capitalize;
  /* font-family: "Courier New", Courier, monospace; */
}

.description {
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 0 3%;
  /* border: 1px solid green; */
  flex-grow: 1;
  opacity: 60%;
  line-height: 1.5;
  margin-top: -5%;
  font-size: 14px;
  color: #31315c;
}

@media (max-width: 768px) {
  .blog-post {
    min-width: 45%;
  }
}

@media (max-width: 480px) {
  .blog-post {
    min-width: 100%;
  }
}

a {
  text-decoration: none;
}
