{% load static %}

<link rel="stylesheet" href="{%static 'blog.css' %}" />

<div class="main-cover">
  <div class="navbar">
    <div class="logo">
      <img src="{{ MEDIA_URL }}logo.png" alt="logo" />
    </div>
    <div class="navbar-options">
      <ul class="n-options-list">
        <li class="n-option"><a href="">Home</a></li>
        <li class="n-option"><a href="create-blog">Create Blog</a></li>
        <li class="n-option"><a href="">My Blogs </a></li>
        <li class="n-option"><a href="logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="body-cover">
    <h1>Hi {{user.username}} , Welcome to your blog</h1>
    <div class="content-block">

      {% if not blogs%}

         <div> NO Blogs Posted Yet</div>

      {% else %}

      {% for blog in blogs %}
       
         <div class="blog-post">
          <a href="{% url 'post' blog.id %}">
            <div class="image-cover">
              <img src="{{MEDIA_URL}}{{blog.blog_image}}" alt="" />
            </div>
            <div class="category">
              <p>{{blog.category}}</p>
            </div>
            
             <div class="title">
              <p>{{blog.title}}</p>
            </div>
            
            <div class="description">
              <p>
                {{blog.description|truncatewords:42}}
              </p>
            </div>
            </a>
          </div>
     
          
      {% endfor %}

      {% endif %}

      
     
      </div>
    </div>
  </div>
</div>
