{% load static %}

<link rel="stylesheet" href="{%static 'register.css' %}" />

<div class="main-cover">
  <div class="navbar">
    <div class="logo">
      <img src="{{ MEDIA_URL }}logo.png" alt="logo" />
    </div>
    <div class="navbar-options">
      <ul class="n-options-list">
        <li class="n-option"><a href="/">Home</a></li>
        <li class="n-option"><a href="create-blog">Create Blog</a></li>
        <li class="n-option"><a href="">Contact us</a></li>
        <li class="n-option"><a href="">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="body-cover">
    <div class="content-block">
      <div class="left-content-block">
        <div class="l-image-container">
          <img src="{{MEDIA_URL}}BlogIT logo.png" alt="BlogIT logo" />
        </div>
      </div>

      <div class="right-content-block">
        <h2>Welcome to BlogIT</h2>
        <form action="{% url 'register' %}" method="POST">
          {% csrf_token%}

          <div class="input-block">
            <p>Username:</p>
            <input class="input-area" type="text" name="username" />
          </div>

          <div class="input-block">
            <p>Email:</p>
            <input class="input-area" type="email" name="email" />
          </div>

          <div class="input-block">
            <p>Password:</p>
            <input class="input-area" type="password" name="password" />
          </div>

          <div class="input-block">
            <p>Re-Enter Password:</p>
            <input class="input-area" type="password" name="re-password" />
          </div>

          <button type="submit" class="signin-button">Sign In</button>

          <p>Already have an account? <a href="login">Log In</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
